<h2>
  <span>EMPATH / No. <%= @quote.id %></span>
  Here's a <u>saying</u> from someone who wants to help!
</h2>

<h1><%= @quote.saying %><h1>
<h2 class="float-right">- <%= @quote.author %><h2>

<br class="clear" />
<br />
<br />
<br />
